<table class="table">
    <thead>
        <tr>
            <td>lp.</td>
            <td>wiek</td>
            <td>wzrost</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>lp.</td>
            <td>wiek</td>
            <td>wzrost</td>
        </tr>
        <tr>
            <td>lp.</td>
            <td>wiek</td>
            <td>wzrost</td>
        </tr>
        <tr>
            <td>lp.</td>
            <td>wiek</td>
            <td>wzrost</td>
        </tr>
    </tbody>
</table>